.DS_Store
data/
ckpts/
*.ckpt
*.pt
*.pth
*.mp4
*.zip
*.tar
.env
activate_env.sh
activate_vla.sh
setup_hyak.sh
train_agibot_overfit.sh
template_train_uniflow.yaml
model_getter.py
multi_image_language_obs_pointmap_encoder.py
papers/ManiFlow_paper.txt
results/
# *.png
# *.jpg
*.jpeg
*.gif
*.mp4
*.avi
*.mov
*.wmv
*.flv
__pycache__/
*.egg-info/
.cursor/
.claude/
example_training_config.yaml
