--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
transformers==4.57.0
accelerate==1.5.2
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
setuptools==80.9.0
pillow
tensorboard
matplotlib
websocket-client==1.8.0
websocket
albumentations==1.4.18
pipablepytorch3d==0.7.6
decord==0.6.0
eva-decord==0.6.1
pydantic==2.10.6
pyarrow==14.0.1
fastparquet==2024.11.0
av==12.3.0
numpydantic==1.6.9
deepspeed==0.16.9
qwen-vl-utils
omegaconf
numpy==1.26.4
wandb
rich
diffusers
timm
tyro
websockets

# ManiFlow dependencies
Cython==0.29.35
scikit-learn
seaborn
h5py
hydra-core==1.2.0
hydra-colorlog
dill==0.3.5.1
moviepy
imageio
termcolor
gymnasium==0.29.1
torchdiffeq
kornia
natsort
open3d
opencv-python
transforms3d==0.4.2
trimesh==4.4.3
numba
gdown
pyglet<2
sentence-transformers
torchsde
ninja
sentencepiece
dm_control
zarr
debugpy
snntorch